@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ForgotPassword" method="post">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Şifremi Unuttum</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </div>
    <div/>
</form>

@if (ViewBag.ResetLink != null)
{
    <div class="alert alert-success mt-3">
        <p>Şifre sıfırlama bağlantınız:</p>
        <a href="@ViewBag.ResetLink">@ViewBag.ResetLink</a>
    </div>
}

@if(ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Message
    </div>
}

